

<!-- ======= Top Bar ======= -->

<div id="topbar" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class='bx bx-mail-send'></i><a href="mailto:contact@daz-immobilier.com">contact@daz-immobilier.com</a>
            <i class='bx bx-mobile'></i><a href="tel:0689132333">+33 6 89 13 23 33</a>
        </div>
        <div class="contact-info d-flex align-items-center">
            <!-- Formulaire de choix de la langue -->
            {% for locale in locales %}
                <a href="{{ path('change_locale', {'locale': locale}) }}" class="d-flex align-items-center me-2 text-decoration-none">
                    <img src="/assets/img/{{ locale }}.png" width="32"/>
                </a>
            {% endfor %}
        </div>
        <div class="cta d-none d-md-block">
            <!-- Formulaire de connexion -->
            {% include "home/connexion.html.twig" %}
        </div>
    </div>
</div>

<!-- ======= Header ======= -->

<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <!-- Logo -->
        <a href="/">
            <img src="/assets/img/logo.png" width="128" />
        </a>
        <!-- Barre de navigation -->
        <nav id="navbar" class="navbar">
            <ul>
                {% if not app.user %}
                    <li><a class="nav-link scrollto" href="/#hero">{% trans %}Accueil{% endtrans %}</a></li>
                    <li><a class="nav-link scrollto" href="/#about">{% trans %}A propos{% endtrans %}</a></li>
                    <li><a class="nav-link scrollto" href="/#services">{% trans %}Services{% endtrans %}</a></li>
                    <li><a class="nav-link scrollto" href="/#pricing">{% trans %}Prix{% endtrans %}</a></li>
                    <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
                    <li><a class="nav-link scrollto" href="{{ path('show.owners') }}">{% trans %}Annonces{% endtrans %}</a></li>
                    <li><a class="nav-link scrollto" href="{{ path('register') }}">{% trans %}Inscription{% endtrans %}</a></li>
                {% endif %}
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a class="nav-link scrollto" href="{{ path('member.home') }}">{% trans %}Accueil{% endtrans %}</a></li>
                        <li><a class="nav-link scrollto" href="{{ path('admin.user.home') }}">{% trans %}Gestion des utilisateurs{% endtrans %}</a></li>
                        <li><a class="nav-link scrollto" href="{{ path('admin.realty.home') }}">{% trans %}Gestion des annonces{% endtrans %}</a></li>
                    {% elseif is_granted('ROLE_AGENCE') %}
                        <li><a class="nav-link scrollto" href="{{ path('member.home') }}">{% trans %}Accueil{% endtrans %}</a></li>
                        <li><a class="nav-link scrollto" href="{{ path('owner.add') }}">{% trans %}Ajouter une location{% endtrans %}</a></li>
                        <li><a class="nav-link scrollto" href="{{ path('owner.home') }}">{% trans %}Visualiser mes locations et des propriétaires{% endtrans %}</a></li>
                        <li><a class="nav-link scrollto" href="{{ path('owner.extends') }}">{% trans %}Attente accord des propriétaires{% endtrans %}</a></li>
                    {% elseif is_granted('ROLE_BAILLEUR_TIERS') %}
                        <li><a class="nav-link scrollto" href="{{ path('member.home') }}">{% trans %}Accueil{% endtrans %}</a></li>
                        {% if disablemenu is not defined %}
                            <li><a class="nav-link scrollto" href="{{ path('owner.add') }}">{% trans %}Ajouter une location{% endtrans %}</a></li>
                            <li><a class="nav-link scrollto" href="{{ path('owner.home') }}">{% trans %}Visualiser mes locations{% endtrans %}</a></li>
                        {% endif %}
                    {% elseif is_granted('ROLE_PROPRIETAIRE') %}
                        <li><a class="nav-link scrollto" href="{{ path('member.home') }}">{% trans %}Accueil{% endtrans %}</a></li>
                        <li><a class="nav-link scrollto" href="{{ path('owner.add') }}">{% trans %}Ajouter une location{% endtrans %}</a></li>
                        <li><a class="nav-link scrollto" href="{{ path('owner.home') }}">{% trans %}Visualiser mes locations{% endtrans %}</a></li>
                    {% elseif is_granted('ROLE_LOCATAIRE') %}
                        <li><a class="nav-link scrollto" href="{{ path('member.home') }}">{% trans %}Accueil{% endtrans %}</a></li>
                        <li><a class="nav-link scrollto" href="{{ path('member.rent') }}">{% trans %}Ma location{% endtrans %}</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

