{% extends "index.html.twig" %}

{% block body %}

<!-- ======= Hero Section ======= -->

<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

    <!-- Slide 1 -->

    <div class="carousel-item active">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">{% trans %}Bienvenu sur DAZ Immobilier{% endtrans %}</h2>
        <p class="animate__animated animate__fadeInUp">{% trans %}DAZ Immobilier est une plateforme immobilière qui permet aux locataires de rechercher un logement et aux proprétaires, ainsi qu'aux bailleurs tiers de proposer des logements à la location.{% endtrans %}</p>
        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">{% trans %}A propos de nous{% endtrans %}</a>
      </div>
    </div>

    <!-- Slide 2 -->

    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">{% trans %}Bienvenu sur DAZ Immobilier{% endtrans %}</h2>
        <p class="animate__animated animate__fadeInUp">{% trans %}DAZ Immobilier permet aussi à des agences immobilières de gérer leurs biens et de se voir confier des biens par les propriétaires de notre réseau.{% endtrans %}</p>
        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">{% trans %}A propos de nous{% endtrans %}</a>
      </div>
    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section>

<main id="main">

    <!-- ======= Icon Boxes Section ======= -->

    <section id="icon-boxes" class="icon-boxes">
      <div class="container">

          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-up">
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href="">{% trans %}Locataire{% endtrans %}</a></h4>
                <p class="description">{% trans %}Vous allez avoir accès à un espace sécurisé pour pouvoir rechercher une location et ainsi pouvoir échanger avec votre propriétaire les divers documents, déclarer des problèmes et faire des demandes de travaux. Il vous sera aussi possible commun accord avec le propriétaire d'écheloner les mensualités de votre loyer...{% endtrans %}</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">{% trans %}Propriétaire{% endtrans %}</a></h4>
                <p class="description">{% trans %}Depuis votre espace sécurisé, vous allez pouvoir mettre votre bien en location, à ce moment là, une agence immobilière gérera votre bien ! Il vous sera aussi possible de commun accord avec le locataire d'écheloner le loyer.{% endtrans %}</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="">{% trans %}Bailleur Tiers{% endtrans %}</a></h4>
                <p class="description">{% trans %}Depuis votre espace sécurisé, vous allez pouvoir mettre votre ou vos biens en location, vous allez pouvoir gérer les problèmes et les demandes de travaux de votre ou vos locataires, ainsi de commun accord avec le locataire d'écheloner le loyer.{% endtrans %}</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-layer"></i></div>
                <h4 class="title"><a href="">{% trans %}Agence{% endtrans %}</a></h4>
                <p class="description">{% trans %}En tant qu'agence immobilière, vous aurez accès à toutes les fonctionnalités précédament décrite, mais il vous sera également possible de gérer les biens des propriétaires qu'il vous sera confiés.{% endtrans %}</p>
              </div>
            </div>

          </div>

      </div>
    </section> 

    <!-- ======= About Us Section ======= -->

    <section id="about" class="about">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>{% trans %}A propos{% endtrans %}</h2>
          <p>{% trans %}DAZ Immobilier est une plateforme immobilière qui permet aux locataires de rechercher un logement et aux proprétaires, ainsi qu'aux bailleurs tiers de proposer des logements à la location.{% endtrans %}</p>
          <p>{% trans %}DAZ Immobilier permet aussi à des agences immobilières de gérer leurs biens et de se voir confier des biens par les propriétaires de notre réseau.{% endtrans %}</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>{% trans %}Quelle que soit la situation, la famille qui s’agrandit, une mutation ou une envie de changement, la recherche d’un nouveau logement est un moment de vie important mais qui peut être parfois stressant. Pour nous, un site d’annonces immobilières ne devrait pas être noyé dans la publicité mais, au contraire, offrir une expérience inédite et enrichissante. Chez DAZ Immobilier, nous en sommes pleinement conscients et nous nous sommes fixés pour mission de vous faciliter la recherche, afin que vous puissiez vous concentrer sur ce qui est important pour vous : trouver l’habitation de vos rêves.{% endtrans %}</p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>{% trans %}Pour louer un appartement ou une maison, nous nous sommes dit que la recherche immobilière était souvent compliquée. Après tout, dénicher un logement, ce n’est pas juste trouver quatre murs : c’est aussi trouver la réponse à ses besoins et à son style de vie. C’est pour cette raison que nous avons décidé de créer DAZ Immobilier, le premier moteur de recherche d'annonces immobilières qui prend en compte le logement en lui-même mais aussi ses alentours, avec la vie de quartier et les points d’intérêt à proximité.{% endtrans %}</p>
            <a href="/" class="btn-learn-more">{% trans %}Voir plus...{% endtrans %}</a>
          </div>
        </div>

      </div>
    </section>

    <!-- ======= Services Section ======= -->

    <section id="services" class="services">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>{% trans %}Services{% endtrans %}</h2>
          <p>{% trans %}DAZ Immobilier a mis en place plusieurs outils pour vous faciliter la vie lorsque vous recherchez un appartement ou un maison, ou bien si vous louez un bien. Par l'intermédiare de plusieurs fonctionnalités, vous allez pouvoir gérer en ligne votre habitation...{% endtrans %}</p>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="#">{% trans %}Espace sécurisé{% endtrans %}</a></h4>
              <p>{% trans %}Vous allez avoir accès à un espace sécurisé protégé par un mot de passe.{% endtrans %}</p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">{% trans %}Gestion des annonces{% endtrans %}</a></h4>
              <p>{% trans %}Vous allez pouvoir ajouter, publier, éditer, supprimer une annonce.{% endtrans %}</p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h4><a href="#">{% trans %}Gestion des photos{% endtrans %}</a></h4>
              <p>{% trans %}Vous allez pouvoir ajouter et supprimer une photo de votre annonce.{% endtrans %}</p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <i class="bi bi-brightness-high"></i>
              <h4><a href="#">{% trans %}Gestion des documents{% endtrans %}</a></h4>
              <p>{% trans %}Vous allez pouvoir ajouter et supprimer un document de votre annonce.{% endtrans %}</p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <i class="bi bi-calendar4-week"></i>
              <h4><a href="#">{% trans %}Gestion des messages{% endtrans %}</a></h4>
              <p>{% trans %}Vous allez pouvoir envoyer des messages à votre propriétaire si vous êtes locataire et à votre locataire si vous être propriétaire.{% endtrans %}</p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <i class="bi bi-briefcase"></i>
              <h4><a href="#">{% trans %}Gestion divers{% endtrans %}</a></h4>
              <p>{% trans %}Vous allez pouvoir declarer ou gérer les problèmes de votre logement, demander des travaux et d'écheloner les mensualités de votre loyer.{% endtrans %}</p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- ======= Cta Section ======= -->

    <section id="cta" class="cta">
      <div class="container">

        <div class="row aos-init aos-animate" data-aos="zoom-in">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>{% trans %}Inscription{% endtrans %}</h3>
            <p>{% trans %}Si notre service vous intéresse, vous pouvez directement vous inscire, merci pour votre confiance.{% endtrans %}</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="{{ path('member.register') }}">{% trans %}Inscription{% endtrans %}</a>
          </div>
        </div>

      </div>
    </section>

    <!-- ======= Pricing Section ======= -->

    <section id="pricing" class="pricing">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>{% trans %}Prix{% endtrans %}</h2>
          <p>{% trans %}Notre service est accessible gratuitement pour les locataires et les propriétaires, par contre si vous êtes bailleur tiers, il va falloir vous souscrire à un abonnement, nous avons différentes formules à vous proposer.{% endtrans %}</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>{% trans %}Gratuit{% endtrans %}</h3>
              <h4><sup>€</sup>0<span> / {% trans %}mois{% endtrans %}</span></h4>
              <ul>
                <li>{% trans %}Locataire et Propriétaire{% endtrans %}</li>
                <li class="na">{% trans %}Bailleur Tiers{% endtrans %}</li>
              </ul>
              <div class="btn-wrap">
                <a href="{{ path('member.register') }}" class="btn-buy">{% trans %}Inscription{% endtrans %}</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>{% trans %}Découverte{% endtrans %}</h3>
              <h4><sup>€</sup>19<span> / {% trans %}mois{% endtrans %}</span></h4>
              <ul>
                <li>{% trans %}Bailleur Tiers{% endtrans %}</li>
                <li>{% trans %}Abonnement pour 1 mois{% endtrans %}</li>
              </ul>
              <div class="btn-wrap">
                <a href="{{ path('member.register') }}" class="btn-buy">{% trans %}Souscrire{% endtrans %}</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Pro</h3>
              <h4><sup>€</sup>29<span> / {% trans %}mois{% endtrans %}</span></h4>
              <ul>
                <li>{% trans %}Bailleur Tiers{% endtrans %}</li>
                <li>{% trans %}Abonnement pour 3 mois{% endtrans %}</li>
              </ul>
              <div class="btn-wrap">
                <a href="{{ path('member.register') }}" class="btn-buy">{% trans %}Souscrire{% endtrans %}</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <span class="advanced">Advanced</span>
              <h3>{% trans %}Ultime{% endtrans %}</h3>
              <h4><sup>€</sup>49<span> / {% trans %}mois{% endtrans %}</span></h4>
              <ul>
                <li>{% trans %}Bailleur Tiers{% endtrans %}</li>
                <li>{% trans %}Abonnement pour 6 mois{% endtrans %}</li>
              </ul>
              <div class="btn-wrap">
                <a href="{{ path('member.register') }}" class="btn-buy">{% trans %}Souscrire{% endtrans %}</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

    <!-- ======= Contact Section ======= -->

    <section id="contact" class="contact">
      <div class="container aos-init" data-aos="fade-up">

        <div class="section-title">
          <h2>Contactez nous</h2>
        </div>

        <div class="row mt-1 d-flex justify-content-end aos-init" data-aos="fade-right" data-aos-delay="100">

          <div class="col-lg-5">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>{% trans %}Adresse{% endtrans %} :</h4>
                <p>113 rue des locations immobilières, 75 001, Paris</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email :</h4>
                <p>contact@daz-immobilier.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>{% trans %}Téléphone{% endtrans %} :</h4>
                <p>+33 6 89 13 23 33</p>
              </div>

            </div>

          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 aos-init" data-aos="fade-left" data-aos-delay="100">

            <form id="home-contact" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" required="">
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Votre mail" required="">
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" required="">
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required=""></textarea>
              </div>
              <div class="text-center"><button type="submit">Envoyer votre message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section>
 </main>

  
{% endblock %}
 

