{% extends "index.html.twig" %}

{% block body %}

<section id="hero" class="register d-flex align-items-end">
    <div class="carousel-item active">
        <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">{{ title }}</h2>
            <p class="animate__animated animate__fadeInUp">{{ subtitle }}</p>
        </div>
    </div>
</section>

<main id="main">
    <section id="contact" class="contact">
        <div class="container aos-init" data-aos="fade-up">
      
            <div class="section-title">
                <h2>Contact Us</h2><!-- todo -->
            </div>
        
            <div class="row mt-1 d-flex justify-content-end aos-init" data-aos="fade-right" data-aos-delay="100">

          <div class="col-lg-5">
           <div class="info">
              
              
              <h2>{% trans %}Historique des messages{% endtrans %}</h2>
                {% if messages|length != 0 %}
                    {% for message in messages %}
                        <p>{{ message.idSender.lastname }} {{ message.idSender.firstname }} ({{ message.date|date("d/m/Y - H:i") }})</p>
                        <p><strong>{{ message.subject }}</strong></p>
                        <p>{{ message.message }}</p>
                        <hr/>
                    {% endfor %}
                {% else %}
                    <p>{% trans %}Il n'y a pas de message !{% endtrans %}</p>
                {% endif %}

            </div>

            </div>
        
            <div class="col-lg-6 mt-5 mt-lg-0 aos-init" data-aos="fade-left" data-aos-delay="100">
                {{ form_start(form) }}
                        {{ form_rest(form) }}
                        <div class="text-center php-email-form"><button type="submit">{% trans %}Envoyer{% endtrans %}</button></div>
                    {{ form_end(form) }}
            </div>
    
            </div>
        </div>
    </section>
</main>

{% endblock %}