{% extends "index.html.twig" %}

{% block body %}
<section id="hero" class="register d-flex align-items-end">
    <div class="carousel-item active">
        <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">{{ title }}</h2>
            <p class="animate__animated animate__fadeInUp">...</p>
        </div>
    </div>
</section>

<main id="main">
    <section>
    <div class="container mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID User</th>
                        <th>Mail</th>
                        <th>Password</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Actor</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for blabla in test %}
                    <tr>
                        <td>{{ blabla.id }}</td>
                        <td>{{ blabla.idUser.id }}</td>
                        <td>{{ blabla.idUser.mail }}</td>
                        <td>{{ blabla.idUser.password }}</td>
                        <td>{{ blabla.idUser.name }}</td>
                        <td>{{ blabla.idUser.lastName }}</td>
                        <td>{{ blabla.idUser.actor }}</td>
                        <td>
                            <a href="{{ path('admin.property.edit', {id: blabla.id}) }}">Editer</a>
                            <form method="POST" action="{{ path('admin.property.delete', {id: blabla.id}) }}">
                                <input type="hidden" name="_method" value="DELETE"/>
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blabla.id)}}"/>
                                <button>Supprimer</button>
                            </form>
                        </td>
                    </tr>
                 {% endfor %}
                </tbody>
            </table>
            
        </div>
        <a href="{{ path('admin.property.new') }}">Ajouter un nouveau utilisateur</a>
        </section>
</main>
{% endblock %}