{% extends "index.html.twig" %}

{% block body %}

<section id="hero" class="register d-flex align-items-end">
    <div class="carousel-item active">
        <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">{{ title }}</h2>
            <p class="animate__animated animate__fadeInUp">...</p>
        </div>
    </div>
</section>

<main id="main">
    <section>
        <div class="container mt-4">
            {% if realties|length == 0 %}
                <p>Vous n'avez pas de propriétaié</p>
            {% else %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Photos</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Loyer</th>
                            <th>documents</th>
                            <th>Locataire</th>
                            
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for realty in realties %}
                        <tr>
                            <td>{{ realty.images|length }}</td>
                            <td>{{ realty.title }}</td>
                            <td>{{ realty.description }}</td>
                            <td>{{ realty.rent }}€</td>
                            <td>{{ realty.documents|length }}</td>
                            <td>
                            {% if realty.idTenant %}
                            {{ realty.idTenant.email }}
                            <a href="{{ path('admin.property.edit', {id: realty.id}) }}">Envoyer message au locataire</a>
                            {% endif %}
                            </td>
                            
                            
                            <td>
                                <a href="{{ path('owner.update', {idOwner: realty.id}) }}">Modifier l'annonce</a>
                                <a href="{{ path('owner.upload.image', {id: realty.id}) }}">Ajouter une photo</a>
                                <a href="{{ path('owner.upload.document', {id: realty.id}) }}">Ajouter un document</a>
                                {% if realty.statut == 1 %}
                                    <a href="{{ path('admin.property.edit', {id: realty.id}) }}">Publier l'annonce</a>
                                {% endif %}
                                <form method="POST" action="{{ path('owner.delete', {idOwner: realty.id}) }}">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ realty.id)}}"/>
                                    <button>Supprimer l'annonce</button>
                                </form>
                                
                                <a href="{{ path('admin.property.edit', {id: realty.id}) }}">Envoyer message au propriétaire</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </section>
</main>

{% endblock %}

