{% extends "index.html.twig" %}

{% block body %}

<section id="hero" class="register d-flex align-items-end">
    <div class="carousel-item active">
        <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">{{ title }}</h2>
            <p class="animate__animated animate__fadeInUp">{{ subtitle }}</p>
        </div>
    </div>
</section>

<main id="main">
    <section class="main">
        <div class="container mt-4">
            {% if realties|length == 0 %}
                <div class="alert alert-warning" role="alert">Il n'y a pas d'annonce</div>
            {% else %}
                {% include "home/filters.html.twig" %}
                <table class="table table-striped">
                    <tbody>
                    {% for realty in realties %}
                        <tr>
                            <td>
                                {% for image in realty.images %}
                                    <img src="{{ asset('uploads/png/' ~ image.url) }}" /></td>
                                {% endfor %}
                            <td>
                                <p>{{ realty.title }}</p>
                                <p>{{ realty.description }}</p>
                            </td>
                            <td>
                                <p>{{ realty.rent }}</p>
                                {% if is_granted('ROLE_LOCATAIRE') %}
                                    <a href="{{ path('owner.reserved', {idOwner: realty.id}) }}" class="btn btn-primary">Demander location</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "home/pagination.html.twig" %}
            {% endif %}
        </div>
    </section>
</main>

{% endblock %}

