{% extends "index.html.twig" %}

{% block body %}

<section id="hero" class="register d-flex align-items-end">
    <div class="carousel-item active">
        <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">{{ title }}</h2>
            <p class="animate__animated animate__fadeInUp">{{ subtitle }}</p>
        </div>
    </div>
</section>

<main id="main">
    <section class="section contact">
        <div class="container aos-init" data-aos="fade-up">
            <div class="row mt-1 d-flex justify-content-end aos-init" data-aos="fade-right" data-aos-delay="100">
                <div class="col-lg-6 mt-5 mt-lg-0 aos-init" data-aos="fade-left" data-aos-delay="100">
                    {{ form_start(form) }}
                        {{ form_row(form.pdf) }}
                        <div class="text-center php-email-form"><button type="submit">Ajouter</button></div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}