{% extends "index.html.twig" %}

{% block body %}

<section id="hero" class="register d-flex align-items-end">
    <div class="carousel-item active">
        <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">{{ title }}</h2>
            <p class="animate__animated animate__fadeInUp">{{ subtitle }}</p>
        </div>
    </div>
</section>

<main id="main">
    <section class="main">
        <div class="container mt-4">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="mt-4"><a class="btn btn-primary" href="{{ path('member.home') }}">{% trans %}Accueil{% endtrans %}</a></div>
                <div class="mt-4"><a class="btn btn-primary" href="{{ path('admin.user.home') }}">{% trans %}Gestion des utilisateurs{% endtrans %}</a></div>
                <div class="mt-4"><a class="btn btn-primary" href="{{ path('admin.realty.home') }}">{% trans %}Gestion des annonces{% endtrans %}</a></div>
            {% elseif is_granted('ROLE_AGENCE') %}
                <div class="mt-4"><a class="btn btn-primary" href="{{ path('member.home') }}">{% trans %}Accueil{% endtrans %}</a></div>
                <div class="mt-4"><a class="btn btn-primary" href="{{ path('owner.add') }}">{% trans %}Ajouter une location{% endtrans %}</a></div>
                <div class="mt-4"><a class="btn btn-primary" href="{{ path('owner.home') }}">{% trans %}Visualiser mes locations et des propriétaires{% endtrans %}</a></div>
                <div class="mt-4"><a class="btn btn-primary" href="{{ path('owner.extends') }}">{% trans %}Attente accord des propriétaires{% endtrans %}</a></div>
            {% elseif is_granted('ROLE_BAILLEUR_TIERS') %}
                <div class="mt-4"><a class="btn btn-primary" href="{{ path('owner.add') }}" role="button">{% trans %}Ajouter une nouvelle location{% endtrans %}</a></div>
                <div class="mt-4"><a class="btn btn-primary" href="{{ path('owner.home') }}" role="button">{% trans %}Visualiser mes locations{% endtrans %}</a></div>
            {% elseif is_granted('ROLE_PROPRIETAIRE') %}
                <div class="mt-4"><a class="btn btn-primary" href="{{ path('owner.add') }}" role="button">{% trans %}Ajouter une nouvelle location{% endtrans %}</a></div>
                <div class="mt-4"><a class="btn btn-primary" href="{{ path('owner.home') }}" role="button">{% trans %}Visualiser mes locations{% endtrans %}</a></div>
            {% else %}
                {% if realties|length == 0 %}
                    <div class="alert alert-warning" role="alert">{% trans %}Il n'y a pas d'annonce{% endtrans %}</div>
                {% else %}
                    {% include "home/filters.html.twig" %}
                    <table class="table table-striped">
                        <tbody>
                        {% for realty in realties %}
                            <tr>
                                <td>
                                    <div id="carousel{{ realty.id }}" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            {% for image in realty.images %}
                                                <div class="carousel-item">
                                                    <img src="{{ asset('uploads/png/' ~ image.url) }}" class="d-block w-100 img-fluid img-thumbnail">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ realty.id }}" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ realty.id }}" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                <td>
                                    <p>{{ realty.title }}</p>
                                    <p>{{ realty.description }}</p>
                                </td>
                                <td>
                                    <p>{{ realty.rent }}</p>
                                    {% if is_granted('ROLE_LOCATAIRE') %}
                                        <a href="{{ path('owner.reserved', {idOwner: realty.id}) }}" class="btn btn-primary">{% trans %}Demander location{% endtrans %}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include "home/pagination.html.twig" %}
                {% endif %}
            {% endif %}
        </div>
    </section>
</main>

{% endblock %}

