{% extends "index.html.twig" %}

{% block body %}

<section id="hero" class="register d-flex align-items-end">
    <div class="carousel-item active">
        <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">{{ title }}</h2>
            <p class="animate__animated animate__fadeInUp">{{ subtitle }}</p>
        </div>
    </div>
</section>

<main id="main">
    <section class="section">
        <div class="container mt-4">
            {% if realties|length == 0 %}
                <div class="alert alert-warning text-center" role="alert">Vous n'avez pas encore ajouté d'annonce</div>
            {% else %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Statut</th>
                            <th>Photos</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Loyer</th>
                            <th>documents</th>
                            <th>Propriétaire</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for realty in realties %}
                        <tr>
                            <td>
                                <p>{{ ["","En attente de validation", "En attente de publication", "En attente de locataire", "Confirmer la location", "LOUER"][realty.statut] }}</p>
                                {% if realty.statut == 1 %}
                                    <a href="{{ path('owner.agency.ok', {idRent: realty.id}) }}" class="btn btn-primary">Confirmer l'accord de gestion</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if realty.images|length != 0 %}
                                    {% for image in realty.images %}
                                        <img src="{{ asset('uploads/png/' ~ image.url) }}"/>
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>{{ realty.title }}</td>
                            <td>{{ realty.description }}</td>
                            <td>{{ realty.rent }}€</td>
                            <td>
                                {% if realty.documents|length != 0 %}
                                    <ul>
                                    {% for document in realty.documents %}
                                        <li><a href="{{ asset('uploads/pdf/' ~ document.url) }}">{{ document.url }}</a></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                <a href="{{ path('owner.upload.document', {idRent: realty.id}) }}" class="btn btn-primary">Ajouter un document</a>
                            </td>
                            <td>
                                <p>{{ realty.idOwner.lastname }} {{ realty.idOwner.firstname }}</p>
                                <a href="{{ path('agency.contact.owner', {idOwner: realty.id}) }}" class="btn btn-primary">Contacter le propriétaire</a>
                            </td>
                            <td>
                                <a href="{{ path('owner.update', {idOwner: realty.id}) }}" class="btn btn-primary">Modifier l'annonce</a>
                                <form method="POST" action="{{ path('owner.delete', {idOwner: realty.id}) }}">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ realty.id)}}"/>
                                    <button class="btn btn-primary">Supprimer l'annonce</button>
                                </form>
                                {% if is_granted('ROLE_BAILLEUR_TIERS') %}
                                    {% if realty.statut == 2 %}
                                        <a href="{{ path('owner.post', {idOwner: realty.id}) }}" class="btn btn-primary">Publier l'annonce</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </section>
</main>

{% endblock %}

